*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

}

body {
    height: 100vh;
    
}

.navbar ul{
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}
.navbar ul li a {
    color: rgb(24, 23, 23);

}
.navbar ul li:hover {
    text-decoration: underline;
}
.navbar ul li:active {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.cart {
    font-size: 3rem;
    text-align: right;
    margin: 0 30px 30px 40px; 
    position: relative;
    
}

.cart a {
    color: rgb(87, 85, 85);
    position: relative;

}
ul .product-image img{
    width: 100%;
}

.products_container{
    box-shadow: 0 4px 8px 0 rgb(0, 0 , 0 ,0.2);
    max-width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(51, 50, 50);
}
.carts_container {
    box-shadow: 0 4px 8px 0 rgb(0, 0 , 0 ,0.2);
    margin: 20px;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(51, 50, 50);
    position: absolute;
    z-index: 12;  
    left: 850px; 
    top: 80px;
    width: 40%;

}
ul .cart-image img{
    width: 60px;
    height: 60px;
}

/* .carts_container{
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0, 0 , 0 ,0.2);
    max-width: 20%;
    margin: 20px;
    text-align: center;
    font-size: 1.8rem;
    color: rgb(51, 50, 50);
} */

.productLink {
    display: flex;
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carts-wrapper {
    display: flex;
    justify-content: space-evenly;
}



.category-list {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.category-list a {
    color: rgb(53, 52, 52);
}

.productOne-container {
   width: 30%;
   margin-left: 20px;
}

.productOne-container h2  {
  text-align: center;
}

.product-section {
    display: flex;
    justify-content: space-evenly;
}

.productone {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}


button {
    background: rgb(255, 174, 0);
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;
}

button a {
    color: rgb(51, 50, 50);
}

.cartpage-container{
    font-size: 20px;
    margin-top: 30px; 
}

.orderPage-container{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}